.navbar{
  background-color: grey;
  display: flex;
  height: 50px;
}

.navbar-header{
  color: white;
  font-weight: 800;
  font-stretch: expanded;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 8px;
  margin-left: 25rem;
}

.add-result-table{
  display: flex;
  max-width: 2xl;
  height: 500px;
  box-shadow: 10px;
  border:black 1px solid;
  margin: 3rem 5rem;
}

.result-table-row{
  padding: 8px 8px;
  font-weight: lighter;
  text-decoration: wavy;
  font-size: large;
}


.result-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 14px;
  width:100px;
  margin-top: 6rem;
  margin-left: 5rem;

}
.label{
  font-size: small;
  font-weight: normal;
  
}

.input{
  border: black solid .035px;
  margin-left: 26px;
  width: 260px;
  padding-left: 6px;
  padding-top: 2px;
  font-weight: 400;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  margin-left: -8rem;
}
.button-save{
  background-color: green;
  padding: 3px 3px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  width: 65px;
}

.button-clean{
  background-color:red;
  padding: 3px 3px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  width: 65px;
  margin-left: 1rem;
}

.button-cancel{
  background-color:rgb(15, 15, 15);
  padding: 3px 3px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  width: 65px;
  margin-left: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-top: 1rem;
}

.add-btn-list{
  font-display: flex;
  margin: auto;
}
.button-addlist{
  border-radius: 5px;
  background-color: slateblue;
  color: white;
  padding-top: 6px;
  padding-right: 2px;
  margin-left: -25rem;
  margin-bottom: 0.25rem;
}

/* .list-student-result {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black thin;
  margin-top: 1rem;
} */
/* .table {
  min-width: 800px;
  color: white;
} */
.thead{
  background-color: grey;
  color: white;
}

.table-row{
  border: solid black;
  columns: red ;
}
 .table-header-todo{
 align-content: flex-end;
  color: brown;
  background-color: aqua;
}
/*
.table-body{
  border: black thin;
}

.tbody-row{
  border: black thin;
}  */
.todo-data{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.span-edit {
  background-color: green;
  padding: 3px 3px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  width: 45px;
  margin-left: 1rem;
  cursor: pointer;
}

.span-delete {
  background-color:red;
  padding: 3px 3px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  width: 45px;
  margin-left: 1rem;
  cursor: pointer;
}


